.select {
  width: 100%;
  height: 40px;
  background: transparent;
  border: 1.5px solid rgba(211, 211, 211, .5);
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 450ms ease-in-out;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #6f6363;
  cursor: pointer;
}

.select:focus-within {
  border-color: #6f6363;
}

.select > select {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: .5rem 1.5rem;
  color: #6f6363;
  appearance: none;
  cursor: pointer;
}